<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Fleet Market</title>
<!-- jQuery -->
<script src="/js/jquery-2.0.0.min.js" type="text/javascript"></script>
<!-- Bootstrap4 files-->
<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<!-- Font awesome 5 -->
<link href="/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<!-- custom style -->
<link href="/css/ui.css" rel="stylesheet" type="text/css"/>
<link href="/css/responsive.css" rel="stylesheet" type="text/css" />
<!-- custom javascript -->
<script src="/js/script.js" type="text/javascript"></script>
</head>
<body>
<!-- =============== SECTION HEADER =============== -->
<header class="section-header">
<section class="header-main border-bottom">
	<div class="container">
		
		<div class="row align-items-center">
			<div class="col-xl-2 col-lg-3 col-md-12">
				<a > <h4 class="title-section text-uppercase">Fleet Market</h4> </a>
			</div>
			<div class="col-xl-6 col-lg-5 col-md-6">
				<form action="#" class="search-header">
					<div class="input-group w-100">	
					    <input type="text" class="form-control" placeholder="Search">
					    <div class="input-group-append">
					      <button class="btn btn-primary" type="submit">
					        <i class="fa fa-search"></i> Search
					      </button>
					    </div>
				    </div>
				</form> 
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
			<div class="widgets-wrap float-md-right">
			<div class="widget-header mr-3">
				<p style="font-size: 18px; font-style: oblique ;"> Hi,<%= firstname %></p>
			</div>
			<div class="widget-header mr-3">
				<a href="/sellerhome" class="widget-view">
					<div class="icon-area">
						<i class="fa fa-home" style="color: darkorange;"></i>
					</div>
					<small class="text"> Home </small>
				</a>
			</div>
			<div class="widget-header">
				<a href="/createproduct" class="widget-view">
					<div class="icon-area">
						<i class="fa fa-plus"style="color: darkorange;"></i>
					</div>
					<small class="text"> Add Product </small>
				</a>
			</div>
			<div class="widget-header mr-3">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user" style="color: darkorange;"></i> Accounts </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/sellerprofile"><i class="fa fa-user-circle"></i> My Profile</a>
						<a class="dropdown-item" href="/logout"><i class="fa  fa-lock"></i>  Logout</a>
					  </div>
			</a>
		</div>
		</div> 
	</div> 
</div> 
</div> 
</section> 
<nav class="navbar navbar-main navbar-expand-lg border-bottom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div> 
</nav>
</header> 
<!-- =============== SECTION HEADER ENDS =============== -->
<!-- =============== SECTION ITEMS =============== -->
<section  class="padding-bottom-sm">

<header class="section-heading heading-line">
	<h4 class="title-section text-uppercase">Products</h4>
</header>
<div class="row row-sm">
	<% if(prdts.length != 0){%>
	<% prdts.forEach(ele => {%>
		<div class="col-xl-2 col-lg-3 col-md-4 col-6">
			<div class="card card-sm card-product-grid">
				<a  class="img-wrap"> <img src="images/items/<%=ele.imgpath%>"> </a>
				<figcaption class="info-wrap">
					<div class="title"><%=ele.prdtid %></div>
					<div class="title"><%=ele.prdtname %></div>
					<div class="price mt-1">₹<%=ele.price %></div> 
					<div class="title">Qty : <%=ele.qty %></div> 
					<a href="/updateproduct/?id=<%= ele.prdtid %>"><button type="submit" class="btn btn-block btn-primary btn-block"> Update</button></a>
					<section  class="padding-bottom-sm"></section>
					<a href="/deleteproduct/?id=<%= ele.prdtid %>"><button type="submit" class="btn btn-block btn-primary btn-block"> Delete</button></a>
				</figcaption>
			</div>
		</div> 
	<% }) %>
	<%}else{%>	
	
	<div class="col-xl-12 col-md-4 " style="display: flex;justify-content: space-around;align-items: center; margin-top: 80px;margin-bottom: 80px;">
		<img src="/images/emptyicons/no-product-found.png" style="justify-content:center;">	
	</div> 
	<%}%> 
	<div >
		<!-- <a href="#" class="btn btn-outline-primary"> <i class="fa fa-shopping-cart"></i> Start Shopping </a> -->
	</div> 
</div>
</section>
<!-- =============== SECTION ITEMS END =============== -->
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
	<div class="container">
		<section class="footer-bottom text-center">
				<p class="text-muted"> Grocery ERP Management System  </p>
		</section>
	</div>
</footer>
<!-- ========================= FOOTER END ========================= -->
</body>
</html>